<h1>Activity Details</h1>

<h4>
  <%= @activity.name %>
</h4>

<p>
  <%= @activity.description %>
</p>

<p>
  <%= @activity.ideal_type %>
</p>

<p>
  <%= @activity.ideal_size %>
</p>

<p>
  <%= @activity.energy_usage %>
</p>

<strong>Activity - Locations</strong>

<ul>
  <% @activity.locations.each do |location| %>
    <li>
      <%= location.city %>
    </li>
  <% end %>
</ul>