<% title "Location: #{@location.city}" %>

<h1>Location Details</h1>

<h4>
  <%= @location.city %>
</h4>

<p>
  <%= @location.open_year %>
</p>

<p>
  <%= square_feet @location %>
</p>

<strong>Location - Activities</strong>

<ul>
  <% @location.activities.each do |activity| %>
    <li>
      <%= link_to activity.name, location_activity_path(@location, activity) %>
    </li>
  <% end %>
</ul>

<hr>

<strong>View all location activities</strong>

<p>
  <%= link_to "Activities for #{@location.city}", location_activities_path(@location) %>
</p>

<hr>

<%= link_to 'Edit this Location', edit_location_path(@location) %>